{% extends "base.html" %}
{% block title %}Профиль{% endblock %}
{% block header %}Профиль {{ author.get_full_name }}{% endblock %}


{% block content %}
<main role="main" class="container">
    <div class="row">
        {% include "profile_item.html" %}
        <div class="col-md-9">
            {% for post in page %}
                {% include "post_item.html" with post=post %}
            {% endfor %}
            {% if page.has_other_pages %}
                {% include "paginator.html" %}
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}